 body{
    background-color:rgb(219, 224, 223);
}
 .container{
    border: 5px solid black;

 }
 .container >.display-2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 34px;
    color: rgb(43, 130, 165);

 }
 .container > form{
    display: flex;
    padding: 5px;
    order: 5;
    /* border: 1px solid black */
 }
 
.container > form > input{
    flex: 1;
}
button:hover{
    background-color: blue;
}